name: Python application CI/CD

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python3-version: 3.9
    - name: Install dependencies
      run: |
        python3 -m pip3 install --upgrade pip3
    - name: Test with unittest
      run: | 
        python3 -m unittest discover -v
